<footer class="site-footer">

  <div class="wrapper">
    <div class="container">
    <div class="row">
      <div class="footer-col col-sm-4 footer-col-1">
            <h3>Powered By</h3>
            <a href="http://source.institute" target="_blank"><img src="/img/source-logo.png" width="200px"></a>
      </div>
      <div class="footer-col col-sm-4 footer-col-2">
            <h3>Social</h3>
            <div class="clearfix">
              <a href="https://www.facebook.com/SourceInstitute" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://www.facebook.com/SourceInstitute', '');" target="_blank">
              <i class="fa fa-facebook-square fa-3x"></i></a>
              &nbsp;&nbsp;&nbsp;<a href="https://twitter.com/sourceinst" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://twitter.com/leancamp', '');" target="_blank">
              <i class="fa fa-twitter-square fa-3x"></i></a>
            </div>
      </div>
      <div class="footer-col col-sm-4 footer-col-3">
      </div>
    </div>
    <div class="row">
      <div class="footer-col col-sm-12">
        <div class="footercredits clearfix">
          <small>
          <p>All rights reserved. Copyright© 2017. Source Summit™, Source Institute™ and its logos are trademarks of Source Labs EOOD.</p>
          <br/>
         </small>
        </div>
      </div>
    </div>
</div>
  </div>

</footer>
