<footer class="site-footer">

  <div class="wrapper">
    <div class="container">
    <div class="row">
      <div class="footer-col col-sm-4 footer-col-1">
              <a href="https://www.facebook.com/SourceInstitute" target="_blank">
              <i class="fa fa-facebook-square fa-3x"></i></a>
              &nbsp;&nbsp;&nbsp;<a href="https://twitter.com/sourceinst"  target="_blank">
              <i class="fa fa-twitter-square fa-3x"></i></a>
       </div>
      <div class="footer-col col-sm-4 footer-col-2">
     </div>
      <div class="footer-col col-sm-4 footer-col-3">
      </div>
    </div>
    <div class="row">
      <div class="footer-col col-sm-12">
        <div class="footercredits clearfix">
          <small>
          <p>All rights reserved. Copyright© 2017. Source Summit™, Source Institute™ and its logos are trademarks of Source Labs EOOD.</p>
          <br/>
         </small>
        </div>
      </div>
    </div>
</div>
  </div>

</footer>
