
<!-- jQuery -->
<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}" ></script>


<script type="text/javascript">
$(document).on("submit", '[data-behaviour="contact-form"]', function() {
  $.post("{{ site.formbox-url }}", $(this).serialize());
  event.preventDefault();
});

function formboxCallback(entry) {
  $('[data-behaviour="contact-form"]').addClass('hidden');
  $('[data-behaviour="contact-form-thank-you"]').removeClass('hidden');
}
</script>
