table {
  border-collapse: inherit;
  border-spacing: 30px 5px;
}

.post-content h3 {
    margin-top: 5rem;
    text-align: center;
}

th {
    text-align: center;
}

.post-content img {
  float: left;
  padding: 5px 10px 10px 5px;
}

.post .note {
  margin: 0px 30px;
  padding-top: 10px;
  color: #A6A6A6;
}
