---
layout: default
---
<article class="post">

  <header class="post-header">
    <div class="col-sm-12">
      <div class="row">
        <h2 class="post-title">{{ page.title }}</h2>
      </div>
    </div>
  </header>
  <div class="post-content">
    <div class="row">
      <div class="col-sm-6">
        <h3>Your challenges.</h3>
        <p> Source Summits are an open conference where you set the topics based on your challenges.
        <h3>Perspectives you'll never encounter elsewhere</h3>
        <p>Source Summits are curated from a wide range of disciplines and geographies, connecting you with a whole range of new perspectives.
        <h3>Insights you'll put to use</h3>
        <p>Over 95% of Source Summit participants leave with actionable insight that they apply within a week or less, and most make long-lasting connections to collaborators and advisors.
        <h3>Learn from the source.</h3>
        <p>You’ll meet people engaged in a range of related fields — all sharing their experience in the name of progressing the state-of-the-art.
        <h3>Develop The State Of The Art</h3>
        <p>By staying focused on real experiences, we evolve practices in a variety of disciplines. Source Summit is where thought leaders emerge.
        <h3>How Does It Work?</h3>
        <p>We start the day by setting the schedule together. The rest of the day is parallel tracks of short sessions. You'll have the choice of 12 to 18 interactive topics throughout the day.</p>
      </div>
      <div class="col-sm-6">
        <iframe src="https://docs.google.com/presentation/d/109fweHwdsNNZEi54WTlTIqO4zbIAPNeT1o3-kyyVSos/embed?start=false&amp;loop=false&amp;delayms=3000" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" width="600" height="398" frameborder="0"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="/img/talkaoke.jpg"/>
      </div>
      <div class="col-sm-6">
        <h3>What happens at Source Summit?</h3>
        <p>
          <strong>98% of participants leave with actionable insight that they apply within a week or less</strong>, and most make long-lasting connections to collaborators and advisors.
          <br>
          We focus on what people have done, and how it actually went. This way we keep the sharing about what’s new and actionable, not repeating the same tired axioms from the past.
          <br>
          Being an unconference, there is no pre-determined agenda. The agenda is made by the participants for the participants – facilitated by a leader on the morning of the conference.
          <br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Interactive sessions</h3>
        <p>
        Anyone with a question, or willing to share their experience fill out a session card and briefly describe to everyone else what they’d like to learn or share. Proposing a session doesn’t take more than 30 seconds.
        <br>
        After the session is presented, the audience will show interest to the session by a show of hands. If the session generates enough early interest it will have a time and space allocated.
        <br>
        The only job of the initiator now is to make sure the proposed session starts on time and ends on time. Easy!
        <br>
        The sessions themselves are very interactive and open-ended, and most are run through pre-selected formats to help make sure they’re valuable.  Topics tend to be explored from new perspectives, and lots of practical advice is shared.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="/img/source-summit-session-card.png"/>
        If you have a topic you'd like to cover, start by filling out a session card.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel-group">
          <h3 id="formats">Session formats</h3>
          <div class="panel panel-default">
            <div class="panel-heading">
              <blockquote><a data-toggle="collapse" href="#collapse1">Show & Tell</a></blockquote>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="row">
              <p>
                Real experiences always help us learn. Take 10 to 15 minutes to share a particular experience. Walk us through it. It’s helpful to share what worked and what didn’t. Wrap up with a bit of “how to” or lessons learned. Open up the last 15 minutes for questions with a Fishbowl Discussion. (When you start the fishbowl, read out those rules.)
              </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <blockquote><a data-toggle="collapse" href="#collapse2">Open Interview</a></blockquote>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="row">
                <p>
                  This is a great way to dig deep and learn from someone. We set up the stage so that 3 interviewers can join from the audience at any time.
                  Ask the person being interviewed introduce themselves for 2 minutes, then ask questions until someone else joins you. Stick around in the fishbowl to ask questions and keep the momentum going, but if the fishbowl gets full, be the first to step down. The Open Interview will take a life of its own.

                </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <blockquote><a data-toggle="collapse" href="#collapse3">Ask an Expert</a></blockquote>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="row">
              <p>
                You get 15 minutes one-on-one with an expert of your choice, while the audience listens in. Allow the expert to introduce themself, then take a few minutes to frame your challenge
                and how they can help you.
                After 15 or 20 minutes, open it up to a Fishbowl Discussion.
              </p>
            </div>
          </div>
        </div>
       <div class="panel panel-default">
          <div class="panel-heading">
            <blockquote><a data-toggle="collapse" href="#collapse7">Idea storm</a></blockquote>
          </div>
          <div id="collapse7" class="panel-collapse collapse">
            <div class="row">
              <p>
                This is a good way to share or generate ideas in a group. It starts with a question that your group will be brainstorming answers to. For example: “How can I figure out why customers don’t sign up?” or “What are different ways I can find more customers?” or “What the best metrics tricks you know?”
                Give the people 5 minutes to brainstorm answers individually, silently writing their ideas on separate sticky notes or pieces of paper. Write the question on a whiteboard.

                One idea per sheet.

                Ask the group to stick their notes to the wall and take 20-30 seconds per idea to present them. Go fast! If anyone’s items inspire others to write more, they’re welcome back!
                If you finish early, pick a few ideas and ask the submitter to elaborate.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</article>
