---
layout: default
---
<article class="post">

  <header class="post-header">
    <div class="col-sm-12">
      <div class="row">
        <h2>{{ page.title }}</h2>
      </div>
    </div>
  </header>
  <div class="post-content">
    <div class="col-sm-12">
      <div class="row">
      </div>
    </div>
    <div class="col-sm-4">
			<div class="row">
				<h2>About Source</h2>
			</div>
      <div class="row">
        <a href="/about"><img src="/img/table-session.jpg"></a>
      </div>
      <div class="row">
        <p>Source runs educational events where the learners set the topics based on their goals, and we bring in people with useful experience to share.  95% of our participants leave with actionable insight that they apply within a week or less, and most make long-lasting connections to collaborators and advisors.

        <p>Our events range from small dinners with facilitated skill sharing, through to large-scale, multi-track unconferences where everyone creates a schedule of hands-on learning sessions together. 
      </div>
		</div>
    <div class="col-sm-8">
			{% include events.html %}
    </div>
  </div>
</article>
